html {
    font-family: serif;
}
body {
    background-color: #3d3d3d;
    height: 100vh;
    width: 100vw;
}
header {
    width: 75%;
    margin: 0 auto;
}
header h1{
    color: #fff;
    font-size: 5rem;
    font-weight: bold;
    margin: 50px 0 70px 0;
    border-bottom: 4px solid #6624ff;
}
header h1::after {
    content: "を表す言葉一覧";
    color: #fff;
    font-size: 2rem;
    margin-left: 25px;
}
.container {
    margin: 0 auto;
    width: 75%;
    border-radius: 4px;
    box-shadow: 8px 7px 5px #5042cc;
    /* display: flex;
    flex-wrap: wrap; */
}
.container .mass {
    color: #fff;
    font-size: 4rem;
    margin: 20px 0 20px 40px;
}
.container .mass::after {
    content: "漢字をクリックすると、読み・意味が表示されます。";
    font-size: 24px;
    margin-left: 40px;
}
.container h3 {
    color: #fff;
    font-size: 3rem;
    margin: 10px 0 10px 70px;
    border-bottom: 3px solid #8e38ff;
}
.words {
    display: flex;
    flex-wrap: wrap;
}
.word {
    width: 25%;
}
.word a {
    display: block;
    text-align: center;
    color: #fff;
    padding: 25px 0;
    width: auto;
    margin: 10px;
    background: linear-gradient(to bottom right, #6200ff, #9c07ff, #ff73ec);
    border-radius: 4px;
    font-size: 2em;
    font-weight: bold;
}
.word a:hover {
    filter: brightness(115%);
    transition: .3s ease;
}
.word .explanation {
    width: auto;
    margin: 0 10px;
    border-radius: 5px;
    background: #f1a8ff;
    font-size: 24px;
    display: none;
}
.word span {
    border-bottom: 1px solid #000;
}